@page
@model WebApplication6.Pages.FormularioModel
@{
}

<form method="get">
    <h1>Formulario</h1>

    <div>
        <label>Monto</label>
        <input type="number" name="monto" />
    </div>
    <div>
        <label>Cuotas</label>
        <input type="number" name="cuota" />
    </div>
    <div>
        <label>Interes</label>
        <input type="number" name="interes" />
    </div>

    <div>
        <input type="submit" value="Calcular" />
    </div>

    <div>
        <label>Cuota Mensual:</label>
        <label>@Model.mensual</label>
    </div>




</form>